@page
@model BibliografieModel
@{
    ViewData["Title"] = "Bibliografie:";
}
<h1>@ViewData["Title"]</h1>

<p>Florina Covaci - Moodle/Medii de programare si dezvoltare Opt./Laborator 6</p>
<p>Florina Covaci - Moodle/Medii de programare si dezvoltare Opt./Curs Aplicatii Web cu Pagini Razor</p>
<p>.NET Channel -  https://www.youtube.com/channel/UCvtT19MZW8dq5Wwfu6B0oxw</p>
<p>W3schools -  https://www.w3schools.com/html/html_styles.asp</p>
